In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/paris-2024-olympic-summer-games/nocs.csv
/kaggle/input/paris-2024-olympic-summer-games/coaches.csv
/kaggle/input/paris-2024-olympic-summer-games/medallists.csv
/kaggle/input/paris-2024-olympic-summer-games/technical_officials.csv
/kaggle/input/paris-2024-olympic-summer-games/teams.csv
/kaggle/input/paris-2024-olympic-summer-games/torch_route.csv
/kaggle/input/paris-2024-olympic-summer-games/schedules.csv
/kaggle/input/paris-2024-olympic-summer-games/athletes.csv
/kaggle/input/paris-2024-olympic-summer-games/venues.csv
/kaggle/input/paris-2024-olympic-summer-games/schedules_preliminary.csv
/kaggle/input/paris-2024-olympic-summer-games/medals_total.csv
/kaggle/input/paris-2024-olympic-summer-games/events.csv
/kaggle/input/paris-2024-olympic-summer-games/medals.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Rowing.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Table Tennis.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Water Polo.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Wrestling.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Shooting.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Cycling Road.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Basketball.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Triathlon.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Hockey.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Volleyball.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Marathon Swimming.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Diving.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Cycling Mountain Bike.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Swimming.csv
/kaggle/input/paris-2024-olympic-summer-games/results/3x3 Basketball.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Judo.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Equestrian.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Archery.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Surfing.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Golf.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Artistic Swimming.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Handball.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Cycling BMX Racing.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Fencing.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Taekwondo.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Canoe Sprint.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Sport Climbing.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Cycling Track.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Skateboarding.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Football.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Canoe Slalom.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Boxing.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Modern Pentathlon.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Tennis.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Beach Volleyball.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Rugby Sevens.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Sailing.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Breaking.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Athletics.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Artistic Gymnastics.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Weightlifting.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Rhythmic Gymnastics.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Cycling BMX Freestyle.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Trampoline Gymnastics.csv
/kaggle/input/paris-2024-olympic-summer-games/results/Badminton.csv
/kaggle/input/olympic-games-medals-19862018/olympic_hosts.csv
/kaggle/input/olympic-games-medals-19862018/olympic_medals.csv
/kaggle/input/olympic-games-medals-19862018/olympic_results.csv
/kaggle/input/olympic-games-medals-19862018/olympic_athletes.csv
/kaggle/input/olympic-games-medals-19862018/olympic_results.pkl
/kaggle/input/olympics-1896-2020/all_regions.csv
/kaggle/input/olympics-1896-2020/all_athlete_games.csv
/kaggle/input/olympics-1896-2020/updated_city_loc.csv

In [2]:
df_ath = pd.read_csv('/kaggle/input/olympic-games-medals-19862018/olympic_athletes.csv')
df_rslt = pd.read_csv('/kaggle/input/olympic-games-medals-19862018/olympic_results.csv')
df_medal = pd.read_csv('/kaggle/input/olympic-games-medals-19862018/olympic_medals.csv')
df_host = pd.read_csv('/kaggle/input/olympic-games-medals-19862018/olympic_hosts.csv')

In [3]:
df_ath.shape

(75904, 7)

In [4]:
df_ath.head(1)

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN

In [5]:
df_rslt.shape

(162804, 15)

In [6]:
df_rslt.head(2)

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN

In [7]:
df_medal.shape

(21697, 12)

In [8]:
df_medal.head(1)

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA

In [9]:
df_host.head(1)

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022

## Which country hosted the olympics maximum times?

In [10]:
df_host['game_location'].value_counts().head(1)

game_location
United States    8
Name: count, dtype: int64

## Which male athlete won the maximum medals and in which sport?

In [11]:
df_medal.columns

Index(['discipline_title', 'slug_game', 'event_title', 'event_gender',
       'medal_type', 'participant_type', 'participant_title', 'athlete_url',
       'athlete_full_name', 'country_name', 'country_code',
       'country_3_letter_code'],
      dtype='object')

In [12]:
df_medal_men = df_medal[df_medal['event_gender'] == 'Men']

In [13]:
df_medal_men['athlete_full_name'].value_counts().head()

athlete_full_name
Michael PHELPS       16
Nikolay ANDRIANOV    12
Alexei NEMOV         10
Takashi ONO          10
Boris SHAKHLIN       10
Name: count, dtype: int64

In [14]:
df_rslt.columns

Index(['discipline_title', 'event_title', 'slug_game', 'participant_type',
       'medal_type', 'athletes', 'rank_equal', 'rank_position', 'country_name',
       'country_code', 'country_3_letter_code', 'athlete_url',
       'athlete_full_name', 'value_unit', 'value_type'],
      dtype='object')

In [15]:
df_rslt[df_rslt['athlete_full_name'] == 'Michael PHELPS']

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
20512,Swimming,200m individual medley men,rio-2016,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,114660,TIME
20861,Swimming,200m butterfly men,rio-2016,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,113360,TIME
21272,Swimming,100m butterfly men,rio-2016,Athlete,SILVER,NaN,True,2,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,51140,TIME
25737,Swimming,100m butterfly men,london-2012,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,51210,TIME
26152,Swimming,400m individual medley men,london-2012,Athlete,NaN,NaN,NaN,4,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,249280,TIME
26273,Swimming,200m individual medley men,london-2012,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,114270,TIME
26645,Swimming,200m butterfly men,london-2012,Athlete,SILVER,NaN,NaN,2,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,113010,TIME
42289,Swimming,200m individual medley men,beijing-2008,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,114230,TIME
42564,Swimming,100m butterfly men,beijing-2008,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,50580,TIME
43189,Swimming,200m butterfly men,beijing-2008,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,112030,TIME
43379,Swimming,400m individual medley men,beijing-2008,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,243840,TIME
43408,Swimming,200m freestyle men,beijing-2008,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,102960,TIME
49546,Swimming,200m butterfly men,athens-2004,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,114040,TIME
49585,Swimming,100m butterfly men,athens-2004,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,51250,TIME
49878,Swimming,400m individual medley men,athens-2004,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,248260,TIME
49916,Swimming,200m freestyle men,athens-2004,Athlete,BRONZE,NaN,NaN,3,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,105320,TIME
50216,Swimming,200m individual medley men,athens-2004,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,117140,TIME
63548,Swimming,200m butterfly men,sydney-2000,Athlete,NaN,NaN,NaN,5,United States of America,US,USA,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,116500,TIME

16 times! That's huge!!
Let's see more on Michael Phelps

In [16]:
df_medal[(df_medal['athlete_full_name'] == 'Michael PHELPS')]

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
2813,Swimming,rio-2016,200m individual medley men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
2849,Swimming,rio-2016,200m butterfly men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
2880,Swimming,rio-2016,100m butterfly men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
3254,Swimming,london-2012,100m butterfly men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
3302,Swimming,london-2012,200m individual medley men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
3330,Swimming,london-2012,200m butterfly men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
5454,Swimming,beijing-2008,200m individual medley men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
5472,Swimming,beijing-2008,100m butterfly men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
5519,Swimming,beijing-2008,200m butterfly men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
5534,Swimming,beijing-2008,400m individual medley men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
5537,Swimming,beijing-2008,200m freestyle men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
6260,Swimming,athens-2004,200m butterfly men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
6263,Swimming,athens-2004,100m butterfly men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
6285,Swimming,athens-2004,400m individual medley men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
6290,Swimming,athens-2004,200m freestyle men,Men,BRONZE,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
6312,Swimming,athens-2004,200m individual medley men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA

#### Exactly how many gold, silver and bronze Michael Phelps has won?

In [17]:
df_medal[(df_medal['athlete_full_name'] == 'Michael PHELPS')]['medal_type'].value_counts()

medal_type
GOLD      13
SILVER     2
BRONZE     1
Name: count, dtype: int64

13 Olympic Gold medals in the name of Michael Phelps!!  Mic drop

# Wait a minute! that's not true. He has won total 28 medals.

# Loading another dataset
## olympics 124 year dataset till 2020

In [18]:
olympics_124_till_20 = '/kaggle/input/olympics-1896-2020/all_athlete_games.csv'

In [19]:
df_2 = pd.read_csv(olympics_124_till_20)

## Checking data validity

In [20]:
#check medals won by michael phelps and any random athlete
df_2.head(1)

,ID,Name,Sex,Age,Team,NOC,Year,Season,City,Sport,Event,Medal
0,0,A Dijiang,Male,24.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN

In [21]:
df_2[df_2['Name'].str.contains('Michael Fred Phelps, II')]['Medal'].count()

28

That's correct. Let's check one more.

In [22]:
# Update the specific value in the DataFrame
df_2.loc[df_2['Name'] == 'Pusarla Venkata "P. V." Sindhu', 'Name'] = 'P. V. Sindhu'
df_2.loc[df_2['Name'] == 'PUSARLA V. Sindhu', 'Name'] = 'P. V. Sindhu'

In [23]:
df_2[df_2['Name'] == 'P. V. Sindhu']['Medal'].value_counts()

Medal
Silver    1
Bronze    1
Name: count, dtype: int64

Well, that's correct P. V. Sindhu has won two olympic gold medals.

# Expalining the situation
- df_1 = 1896 to 2022; incorrect data
- df_2 = 1896 to 2020; correct data

## Action to take
- attach df_2 (1896-2020) to df_1(2022)

In [24]:
df_medal.columns

Index(['discipline_title', 'slug_game', 'event_title', 'event_gender',
       'medal_type', 'participant_type', 'participant_title', 'athlete_url',
       'athlete_full_name', 'country_name', 'country_code',
       'country_3_letter_code'],
      dtype='object')

In [25]:
df_medal.head(1)

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA

In [26]:
df_rslt.head(1)

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN

In [27]:
df_ath.head(1)

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN

In [28]:
df_2.head(1)

,ID,Name,Sex,Age,Team,NOC,Year,Season,City,Sport,Event,Medal
0,0,A Dijiang,Male,24.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN

In [29]:
df_rslt.columns

Index(['discipline_title', 'event_title', 'slug_game', 'participant_type',
       'medal_type', 'athletes', 'rank_equal', 'rank_position', 'country_name',
       'country_code', 'country_3_letter_code', 'athlete_url',
       'athlete_full_name', 'value_unit', 'value_type'],
      dtype='object')

In [30]:
df_2.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Team', 'NOC', 'Year', 'Season', 'City',
       'Sport', 'Event', 'Medal'],
      dtype='object')

## add df_rslt (year 2022 data) to df_2

In [31]:
df_rslt.head(1)

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN

In [32]:
df_rslt_22 = df_rslt[df_rslt['slug_game'] == 'beijing-2022']

In [33]:
df_rslt_22.head(1)

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN

In [34]:
df_rslt_22.shape

(3784, 15)

## column match df_2: df_rslt
- ID: continue the sequence
- Name : athlete_full_name
- Sex: no column available ; event_gender in df_medal; if 'mixed' tackle later
- Age: athlete_year_birth in df_ath
- Team : country_name
- NOC : country_3_letter_code 
- Year : slug_game ; extract year
- Season: winter 
- City : Beijing
- Sport: discipline_title
- Event : event_title
- Medal : medal_type

In [35]:
df_ath.head(1)

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN

In [36]:
df_ath[df_ath['athlete_full_name'] == 'Michael PHELPS']

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
11547,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,5,Sydney 2000,1985.0,\n\n\n23\n\nG\n\n\n\n3\n\nS\n\n\n\n2\n\nB\n\n,\n\n\nMichael Phelps is arguably the greatest ...

## Checked on Excel the records are complete. Athletes name are not mentioned in Team events. Hence, 16 individual medals to Michael Phelps and 12 Team medals.

# Phewwwww ! No need to merge the datasets. Saves so much time.

In [37]:
df_rslt['participant_type'].unique()

array(['GameTeam', 'Athlete'], dtype=object)

# Loaded new dataset of 2024 olympics shared by  petro.

## Merge the datasets: olympics medals (1896-2022) and olympics medallists (2024)

# Load 2024 Olympics medallists dataset

In [38]:
medallist_2024 = '/kaggle/input/paris-2024-olympic-summer-games/medallists.csv'

In [39]:
df_medal_24 = pd.read_csv(medallist_2024)

In [40]:
df_medal_24.head(1)

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
0,2024-07-27,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136,NaN,True

In [41]:
df_medal_24.shape

(2315, 21)

In [42]:
df_medal_24.describe()

        medal_code  code_athlete
count  2314.000000  2.315000e+03
mean      2.023336  1.893321e+06
std       0.820390  2.628276e+05
min       1.000000  1.532872e+06
25%       1.000000  1.896552e+06
50%       2.000000  1.924464e+06
75%       3.000000  1.950498e+06
max       3.000000  4.980004e+06

In [43]:
df_medal_24.isnull().sum()

medal_date            0
medal_type            0
medal_code            1
name                  0
gender                0
country_code          0
country               0
country_long          0
nationality_code      1
nationality           1
nationality_long      1
team                760
team_gender         760
discipline            0
event                 0
event_type            0
url_event            21
birth_date            0
code_athlete          0
code_team           760
is_medallist          0
dtype: int64

No major null values of any important column I need.

## Making changes in 2024 Olympics medallists dataset before merging

### Flling 3 common missing values name, gender, country_code, country, country_long, nationality, birth_date later in excel (that's faster).

In [44]:
df_medal_24[df_medal_24['name'].isnull()]

Empty DataFrame
Columns: [medal_date, medal_type, medal_code, name, gender, country_code, country, country_long, nationality_code, nationality, nationality_long, team, team_gender, discipline, event, event_type, url_event, birth_date, code_athlete, code_team, is_medallist]
Index: []

[0 rows x 21 columns]

### Adding columns in df_medal_24:
- column 'City' for location of the game
- column 'Year' to specify year of the game

In [45]:
df_medal_24['city'] = 'Paris'

In [46]:
df_medal_24['year'] = '2024'

In [47]:
df_medal_24.head(1)

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,city,year
0,2024-07-27,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,...,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136,NaN,True,Paris,2024

In [48]:
### discarding columns I don't need in this analysis
df_medal_24 = df_medal_24.drop(columns = ['medal_date', 'country', 'code_athlete', 'code_team', 'team_gender', 'team', 'is_medallist','nationality_code', 'nationality_long', 'nationality' ])

In [49]:
#drop url
df_medal_24 = df_medal_24.drop(columns = ['url_event'])

In [50]:
#recheking columns
df_medal_24.shape

(2315, 12)

In [51]:
#change column name 'country_long' to 'country' 
df_medal_24 = df_medal_24.rename(columns = {'country_long': 'country'})

In [52]:
#change column name 'gender' to 'event_gender'
df_medal_24 = df_medal_24.rename(columns = {'gender': 'event_gender'})

In [53]:
df_medal_24[df_medal_24['country_code'] == 'EOR']

,medal_type,medal_code,name,event_gender,country_code,country,discipline,event,event_type,birth_date,city,year
527,Bronze Medal,3.0,DJANKEU NGAMBA Cindy Winner,Female,EOR,Refugee Olympic Team,Boxing,Women's 75kg,HATH,1998-09-07,Paris,2024

Keep nationality to know where refugees are from.

In [54]:
df_medal_24['medal_type'].value_counts()

medal_type
Bronze Medal    807
Silver Medal    756
Gold Medal      752
Name: count, dtype: int64

In [55]:
#remove 'medal' word in medal_type column
df_medal_24['medal_type'] = df_medal_24['medal_type'].apply(lambda x : x.split()[0])

In [56]:
#drop medal_code
df_medal_24 = df_medal_24.drop(columns = ['medal_code'])

In [57]:
# drop birth_date
df_medal_24 = df_medal_24.drop(columns = ['birth_date'])

In [58]:
df_medal_24.columns

Index(['medal_type', 'name', 'event_gender', 'country_code', 'country',
       'discipline', 'event', 'event_type', 'city', 'year'],
      dtype='object')

## making changes in df_medal (1896-2022) before merging

In [59]:
df_medal.columns

Index(['discipline_title', 'slug_game', 'event_title', 'event_gender',
       'medal_type', 'participant_type', 'participant_title', 'athlete_url',
       'athlete_full_name', 'country_name', 'country_code',
       'country_3_letter_code'],
      dtype='object')

In [60]:
df_medal_24.columns

Index(['medal_type', 'name', 'event_gender', 'country_code', 'country',
       'discipline', 'event', 'event_type', 'city', 'year'],
      dtype='object')

In [61]:
df_medal.head(1)

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA

## change column name
- 'participant_type' to 'event_type'
- 'discipline_title' to 'discipline'
- 'event_title' to 'event'
- 'athlete_full_name' to 'name'
- 'country_name' to 'country'

In [62]:
df_medal = df_medal.rename(columns = {'participant_type': 'event_type', 'discipline_title': 'discipline', 'event_title': 'event', 'athlete_full_name' : 'name', 'country_name':'country' })

In [63]:
#drop url
df_medal = df_medal.drop(columns = ['athlete_url'])

In [64]:
# #drop participant_title
df_medal = df_medal.drop(columns = ['participant_title'])

In [65]:
#drop country_code then rename country_3_letter_code to country_code
df_medal = df_medal.drop(columns=['country_code'])
df_medal = df_medal.rename(columns = {'country_3_letter_code': 'country_code'})

In [66]:
df_medal_24.head(1)

,medal_type,name,event_gender,country_code,country,discipline,event,event_type,city,year
0,Gold,EVENEPOEL Remco,Male,BEL,Belgium,Cycling Road,Men's Individual Time Trial,ATH,Paris,2024

In [67]:
df_medal['medal_type'].value_counts()

medal_type
BRONZE    7529
GOLD      7109
SILVER    7059
Name: count, dtype: int64

In [68]:
#turn string in medal_type from all caps to title
df_medal['medal_type'] = df_medal['medal_type'].str.title()

In [69]:
df_medal['slug_game'].str.split('-').value_counts().tail(2)

slug_game
[lake, placid, 1932]    48
[st, moritz, 1928]      44
Name: count, dtype: int64

### column slug_game: string length is not uniform
- [los, angeles, 1984]
- [mexico, city, 1968]
- [st, louis, 1904]
- [los, angeles, 1932]
- [salt, lake, city, 2002]
- [lake, placid, 1980]
- [squaw, valley, 1960]
- [cortina, d, ampezzo, 1956]
- [st, moritz, 1948]
- [garmisch, partenkirchen, 1936]
- [lake, placid, 1932]
- [st, moritz, 1928]

In [70]:
#extract last string from 'slug_game' and store it in 'year'
df_medal['year'] = df_medal['slug_game'].str.split('-').str[-1]

In [71]:
df_medal.head(1)

,discipline,slug_game,event,event_gender,medal_type,event_type,name,country,country_code,year
0,Curling,beijing-2022,Mixed Doubles,Mixed,Gold,GameTeam,Stefania CONSTANTINI,Italy,ITA,2022

In [72]:
# extract every string before year in slug_game
df_medal['slug_game'] = df_medal['slug_game'].str.split('-').str[:-1]

In [73]:
df_medal.head(1)

,discipline,slug_game,event,event_gender,medal_type,event_type,name,country,country_code,year
0,Curling,[beijing],Mixed Doubles,Mixed,Gold,GameTeam,Stefania CONSTANTINI,Italy,ITA,2022

In [74]:
df_medal['slug_game'].value_counts().tail(2)

slug_game
[garmisch, partenkirchen]    57
[chamonix]                   52
Name: count, dtype: int64

Inconsistent number of substrings stored in a list

In [75]:
# slug_game: convert list to string and have substrings space-separated and capitalize first letter of each substring
df_medal['slug_game'].apply(lambda x : ' '.join(x)).str.title().value_counts().tail(2)

slug_game
Garmisch Partenkirchen    57
Chamonix                  52
Name: count, dtype: int64

In [76]:
df_medal['slug_game'] = df_medal['slug_game'].apply(lambda x : ' '.join(x)).str.title()

In [77]:
# rename column 'slug_game' to 'city'
df_medal = df_medal.rename(columns = {'slug_game': 'city'})

Everything is almost done. Cross checking the values column by column.

In [78]:
df_medal.head(1)

,discipline,city,event,event_gender,medal_type,event_type,name,country,country_code,year
0,Curling,Beijing,Mixed Doubles,Mixed,Gold,GameTeam,Stefania CONSTANTINI,Italy,ITA,2022

In [79]:
df_medal_24.head(1)

,medal_type,name,event_gender,country_code,country,discipline,event,event_type,city,year
0,Gold,EVENEPOEL Remco,Male,BEL,Belgium,Cycling Road,Men's Individual Time Trial,ATH,Paris,2024

#### cross-check 'discipline'

In [80]:
# check if the sport names are correctly spelled and match with the other column 
# otherwise due to mere formatting, spelling issue it will create a separte data point while plotting
# e.g., basketbal =! Basketball
set(df_medal_24['discipline']) - set(df_medal['discipline'])

{'Breaking'}

Breaking is added in the olympics for the very first time in 2024.

#### cross-check city

In [81]:
set(df_medal_24['city']) - set(df_medal['city'])

set()

#### cross check year

In [82]:
set(df_medal_24['year']) - set(df_medal['year'])

{'2024'}

#### cross-check event_type

In [83]:
df_medal['event_type'].value_counts()

event_type
Athlete     15113
GameTeam     6584
Name: count, dtype: int64

In [84]:
df_medal_24['event_type'].value_counts()

event_type
HTEAM    843
TEAM     638
ATH      494
HATH     266
HCOUP     42
COUP      32
Name: count, dtype: int64

#### Replace values of column 'event_type' in df_medal_24 to match values with df_medal
- HTEAM with Team
- TEAM with Team
- Ath with Athlete
- HATH with Athlete
- HCOUP with Mixed
- COUP with Mixed

#### Replace values of column 'event_type' in df_medal to match values with df_medal_24
- GameTeam with Team

#### Finally 'event_type' should have two values - Athlete and Team

## CAUTION: 
before replacing use 'HCOUP' and "COUP" values in 'event_type' of df_medal_24 to input 'event_gender' value as 'Mixed' in the same

#### cross-check 'event_gender'

In [85]:
df_medal['event_gender'].value_counts()

event_gender
Men      13932
Women     6323
Open       998
Mixed      444
Name: count, dtype: int64

In [86]:
df_medal_24['event_gender'].value_counts()

event_gender
Female    1162
Male      1153
Name: count, dtype: int64

df_medal_24 stores athlete gender but df_medal stores the event's gender. 
- insert value 'Mixed' in event_gender in df_medal_24 referencing "HCOUP','COUP' in event_type
- replace 'Open' with 'Mixed' in df_medal
- replace 'Men' with 'Male' and 'Women' with 'Female'in df_medal

In [87]:
# df_medal_24: replace gender values with 'Mixed' in 'event_gender' where 'event_type' is 'HCOUP' OR 'COUP'
df_medal_24.loc[df_medal_24['event_type'].isin(['HCOUP', 'COUP']), 'event_gender'] = 'Mixed'

In [88]:
df_medal_24['event_gender'].value_counts()

event_gender
Female    1121
Male      1120
Mixed       74
Name: count, dtype: int64

In [89]:
# df_medal: column event_gender; replace 'Open' with 'Mixed', 'Men' with 'Male', 'Women' with 'Female'

df_medal['event_gender'].replace({'Open': 'Mixed', 'Men': 'Male', 'Women': 'Female'}, inplace = True)

/tmp/ipykernel_18/605634113.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_medal['event_gender'].replace({'Open': 'Mixed', 'Men': 'Male', 'Women': 'Female'}, inplace = True)

In [90]:
df_medal['event_gender'].value_counts()

event_gender
Male      13932
Female     6323
Mixed      1442
Name: count, dtype: int64

#### cross-check event_type

In [91]:
df_medal['event_type'].value_counts()

event_type
Athlete     15113
GameTeam     6584
Name: count, dtype: int64

In [92]:
df_medal_24['event_type'].value_counts()

event_type
HTEAM    843
TEAM     638
ATH      494
HATH     266
HCOUP     42
COUP      32
Name: count, dtype: int64

In [93]:
# replace values in event_type column of df_medal_24
df_medal_24['event_type'] = df_medal_24['event_type'].replace({'HTEAM': 'Team', 'TEAM': 'Team', 'HCOUP': 'Team', 'COUP': 'Team', 'ATH': 'Athlete', 'HATH': 'Athlete'})

In [94]:
# replace value in df_medal
df_medal['event_type'] = df_medal['event_type'].replace({'GameTeam': 'Team'})

#### cross-check medal_type

In [95]:
df_medal['medal_type'].value_counts()

medal_type
Bronze    7529
Gold      7109
Silver    7059
Name: count, dtype: int64

In [96]:
df_medal_24['medal_type'].value_counts()

medal_type
Bronze    807
Silver    756
Gold      752
Name: count, dtype: int64

#### cross-check name

#### Inconsistent formatting
- df_medal: firstname , LASTNAME
- df_medal_24: LASTNAME, firstname

change to : firstname, lastname

In [97]:
# consistent formatting
df_medal['name'] = df_medal['name'].str.title()

In [98]:
df_medal_24['name'].head(2)

0    EVENEPOEL Remco
1      GANNA Filippo
Name: name, dtype: object

In [99]:
# flip the string positions and make the formatting consistent

df_medal_24['name'] = df_medal_24['name'][::-1].str.title()

In [100]:
df_medal_24['name'].head(2)

0    Evenepoel Remco
1      Ganna Filippo
Name: name, dtype: object

In [101]:
df_ath['athlete_full_name'].nunique()

75480

In [102]:
# df_ath: change column name 'athlete_full_name' to 'name'
# title case consistent formatting

df_ath.rename(columns = {'athlete_full_name': 'name'}, inplace = True)

In [103]:
# cinsistent formatting
df_ath['name' ] = df_ath['name'].str.title()

In [104]:
df_medal.rename(columns = {'year': 'event_year'}, inplace = True)

In [105]:
df_medal.head(1)

,discipline,city,event,event_gender,medal_type,event_type,name,country,country_code,event_year
0,Curling,Beijing,Mixed Doubles,Mixed,Gold,Team,Stefania Constantini,Italy,ITA,2022

In [106]:
df_medal.dtypes

discipline      object
city            object
event           object
event_gender    object
medal_type      object
event_type      object
name            object
country         object
country_code    object
event_year      object
dtype: object

# Finally !! df_medal is all set.
## PHEW

#### create event_year columns in df_medal_24

In [107]:
df_medal_24.head(1)

,medal_type,name,event_gender,country_code,country,discipline,event,event_type,city,year
0,Gold,Evenepoel Remco,Male,BEL,Belgium,Cycling Road,Men's Individual Time Trial,Athlete,Paris,2024

In [108]:
# rename column 'year' to 'event_year'

df_medal_24 = df_medal_24.rename(columns = {'year': 'event_year'})

In [109]:
df_medal_24.head(1)

,medal_type,name,event_gender,country_code,country,discipline,event,event_type,city,event_year
0,Gold,Evenepoel Remco,Male,BEL,Belgium,Cycling Road,Men's Individual Time Trial,Athlete,Paris,2024

In [110]:
df_medal_24.head(1)

,medal_type,name,event_gender,country_code,country,discipline,event,event_type,city,event_year
0,Gold,Evenepoel Remco,Male,BEL,Belgium,Cycling Road,Men's Individual Time Trial,Athlete,Paris,2024

In [111]:
# change dtype of event_year from string to int
df_medal_24['event_year'] = df_medal_24['event_year'].astype(int)

In [112]:
df_medal.dtypes

discipline      object
city            object
event           object
event_gender    object
medal_type      object
event_type      object
name            object
country         object
country_code    object
event_year      object
dtype: object

In [113]:
df_medal_24.dtypes

medal_type      object
name            object
event_gender    object
country_code    object
country         object
discipline      object
event           object
event_type      object
city            object
event_year       int64
dtype: object

In [114]:
df_medal.dtypes

discipline      object
city            object
event           object
event_gender    object
medal_type      object
event_type      object
name            object
country         object
country_code    object
event_year      object
dtype: object

# Let's start MERGING!

Decinding the order of columns. It makes working with it convenient.

In [115]:
column_order = [
    'discipline',
    'event',
    'event_gender',
    'event_type',
    'medal_type',
    'name',
    'country_code',
    'country',
    'city',
    'event_year'
]

In [116]:
# reorder columns in df_medal

df_medal = df_medal[column_order]

In [117]:
df_medal.isnull().sum()

discipline         0
event              0
event_gender       0
event_type         0
medal_type         0
name            3624
country_code       0
country            0
city               0
event_year         0
dtype: int64

In [118]:
# reorder columns in df_medal_24

df_medal_24 = df_medal_24[column_order]

In [119]:
# merge df_medal and df_medal_24

df_final = pd.concat([df_medal_24,df_medal], ignore_index = True)

In [120]:
df_final.head()

,discipline,event,event_gender,event_type,medal_type,name,country_code,country,city,event_year
0,Cycling Road,Men's Individual Time Trial,Male,Athlete,Gold,Evenepoel Remco,BEL,Belgium,Paris,2024
1,Cycling Road,Men's Individual Time Trial,Male,Athlete,Silver,Ganna Filippo,ITA,Italy,Paris,2024
2,Cycling Road,Men's Individual Time Trial,Male,Athlete,Bronze,Van Aert Wout,BEL,Belgium,Paris,2024
3,Cycling Road,Women's Individual Time Trial,Female,Athlete,Gold,Brown Grace,AUS,Australia,Paris,2024
4,Cycling Road,Women's Individual Time Trial,Female,Athlete,Silver,Henderson Anna,GBR,Great Britain,Paris,2024

In [121]:
df_final.shape

(24012, 10)

df_final verified

In [122]:
#title case the strings
df_final['event'] = df_final['event'].str.title()

In [123]:
df_final['event'].head(1)

0    Men'S Individual Time Trial
Name: event, dtype: object

In [124]:
# replace ''S' in event

df_final['event'] = df_final['event'].str.replace("'S", "", regex = False)

In [125]:
# verifying titlecase change
df_final['event'].str.contains('women').value_counts()

event
False    24012
Name: count, dtype: int64

In [126]:
df_final['event'].str.contains('Open').value_counts()

event
False    23852
True       160
Name: count, dtype: int64

In [127]:
df_final.tail(1)

,discipline,event,event_gender,event_type,medal_type,name,country_code,country,city,event_year
24011,Weightlifting,Heavyweight - Two Hand Lift Men,Male,Athlete,Bronze,Sotirios Versis,GRE,Greece,Athens,1896

In [128]:
df_final.head(1)

,discipline,event,event_gender,event_type,medal_type,name,country_code,country,city,event_year
0,Cycling Road,Men Individual Time Trial,Male,Athlete,Gold,Evenepoel Remco,BEL,Belgium,Paris,2024

Notics event column. In some entries gender is at the very last place and in other entries it is the first word. This will create separate data points for the same event. I'm making all the string uniform where gender will be placed at frist and the rest of the strings as it is.

In [129]:
# keep gender words at the first place and then attach the rest of the strings

keywords = ['Women', 'Men', 'Mixed', 'Open']
df_final['event'] = df_final['event'].apply(
    lambda x: ' '.join([kw for kw in keywords if kw in x] + [part for part in x.split() if part not in keywords])
)

In [130]:
df_final['event'].tail(1)

24011    Men Heavyweight - Two Hand Lift
Name: event, dtype: object

In [131]:
df_final.to_csv('olympics_1896_2024.csv', index = False)

# We have the final dataset. Up to date Olympics data from 1896 to 2024.
# I'll fix some formatting issues in excel and upload it on Kaggle.